<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version= 10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <appSettings>
    <add key="Browser" value="FireFox" />
    <add key="site" value="COA" />
    <add key="URL" value="//www.cheapoair.com/profiles/#/user-signin" />    
    <add key="UrlPrefix" value="http:"></add>            
  </appSettings>
  <connectionStrings>                                              
    <add name="ConStrSignIn" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\SignIn.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrSignInWithFaceBook" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\SignInWithFaceBook.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />    
    <add name="ConStrSignInWithGoogle" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\SignInWithGoogle.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrPasswordNotMatchingValidation" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\PasswordNotMatchingValidation.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrCreateAnAccountAllValidations" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\CreateAnAccountAllValidations.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrMyInformationsAllValidations" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\MyInformationsAllValidations.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrValidatingSignIn" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\ValidatingSignIn.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrMyBillingDetailsAllValidations" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\MyBillingDetailsAllValidations.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="ConStrCreateAnAccountAllValidations" connectionString="D:\NewUserProfile\UserProfileSPA\bin\XML\CreateAnAccountAllValidations.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
  </connectionStrings>
  <!--<microsoft.visualstudio.testtools>
    <dataSources>
      <add name="DataSourceSignIn" connectionString="ConStrSignIn" dataTableName="SignIn" dataAccessMethod="Sequential" />
      <add name="DataSourceSignInWithFaceBook" connectionString="ConStrSignInWithFaceBook" dataTableName="SignInWithFaceBook" dataAccessMethod="Sequential" />      
      <add name="DataSourceSignInWithGoogle" connectionString="ConStrSignInWithGoogle" dataTableName="SignInWithGoogle" dataAccessMethod="Sequential" />
      <add name="DataSourcePasswordNotMatchingValidation" connectionString="ConStrPasswordNotMatchingValidation" dataTableName="PasswordNotMatchingValidation" dataAccessMethod="Sequential" />
      <add name="DataSourceCreateAnAccountAllValidations" connectionString="ConStrCreateAnAccountAllValidations" dataTableName="CreateAnAccountAllValidations" dataAccessMethod="Sequential" />
      <add name="DataSourceMyInformationsAllValidations" connectionString="ConStrMyInformationsAllValidations" dataTableName="MyInformationsAllValidations" dataAccessMethod="Sequential" />
      <add name="DataSourceValidatingSignIn" connectionString="ConStrValidatingSignIn" dataTableName="ValidatingSignIn" dataAccessMethod="Sequential" />
      <add name="DataSourceMyBillingDetailsAllValidations" connectionString="ConStrMyBillingDetailsAllValidations" dataTableName="MyBillingDetailsAllValidations" dataAccessMethod="Sequential" />
      <add name="DataSourceCreateAnAccountAllValidations" connectionString="ConStrCreateAnAccountAllValidations" dataTableName="CreateAnAccountAllValidations" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>-->    
</configuration>   